@media (max-width: 966px) {
    .middle-last-bottom,
    .middle-last-top {
        max-width: 45%;
    }
}

@media (max-width: 946px) {
    .middle-last-top,
    .middle-last-bottom {
        max-width: 44.5%;

    }

    .middle-left {
        
    }


}
@media (max-width: 782px) {
    .middle-last-bottom,
    .middle-last-top {
        max-width: 43.5%;
    }
}


@media (max-width: 768px) {
    .middle-last-bottom,
    .middle-last-top {
        max-width: 43%;
    }
}

@media (max-width: 658px) {
    .middle-last-bottom,
    .middle-last-top {
        max-width: 42.5%;
    }
}


@media (max-width: 646px) {
    .middle-last-bottom,
    .middle-last-top {
        max-width: 42%;
    }
}

@media (max-width: 578px) {
    .middle-last-bottom,
    .middle-last-top {
        max-width: 41%;
    }
}



@media (max-width: 555px) {
    .middle-last-bottom,
    .middle-last-top {
        max-width: 40%;
    }
}



@media (max-width: 546px) {
    .middle-last-bottom,
    .middle-last-top {
        max-width: 41%;
    }
}

@media (max-width: 454px) {
    .middle-last-bottom,
    .middle-last-top {
        max-width: 39%;
    }
}


@media (max-width: 386px) {
    .middle-last-bottom,
    .middle-last-top {
        max-width: 37%;
    }
}


